---
export const getStaticPaths = async () => {
  //load astro glob with utf-8 encoding

  const posts = await Astro.glob("../content/blog/**/*.md*")

  return posts.map((post) => ({
    params: {
      slug: post.frontmatter.slug,
    },
  }))
}

const posts = await Astro.glob("../content/blog/**/*.md*")
const {slug} = Astro.params
const {Content, frontmatter} = posts.find(
  (post) => post.frontmatter.slug === slug
) || {
  Content: () => null,
}
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main class="prose">
      <h1>{frontmatter.title}</h1>
      <Content />
    </main>
  </body>
</html>
